<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h1>Create Account</h1>
<form action="#" th:action="@{/save}"  th:object="${newuser}" method="POST">
    <p>Name: <input type="text" placeholder="Enter Full Name" th:field="*{name}" class="form-control mb-4 col-4"/></p> <br><br>
    <p>Email: <input type="text" placeholder="Enter Valid Email id" th:field="*{email}" class="form-control mb-4 col-4"/></p><br><br>
    <p>Password: <input type="password" placeholder="Enter Password" th:field="*{password}" class="form-control mb-4 col-4"/><br><br>
    <p>Confirm Password: <input type="password" placeholder="Confirm Password" class="form-control mb-4 col-4"/><br><br>
    <button type="submit" class="btn btn-info col-2">Submit</button>
</form>
</div>
</body>
</html>
